/* Shared styles */
.orange-text {
  color: #e95a08;
}

/* navbar styles
.navbar {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
} */

/* banner styles */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1140px;
  margin: 150px auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 800;
}
.banner-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

/* flower and plant section style */
.details-section {
  display: flex;
  max-width: 1140px;
  max-height: 500px;
  gap: 40px;
  margin: 150px 0px;
  justify-content: space-between;
}
.shop-image > img {
  max-height: 500px;
  width: auto;
}
.details-title {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.list-points > li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  margin-bottom: 20px;
}
/* mobile responsiveness */
@media screen and (max-width: 576px) {
  .banner {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-description {
    margin: 15px;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-text {
    font-size: 0.8rem;
  }
  .banner-img {
    grid-row: 1;
  }
}
